<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="car" class="com.lpc.other.bean.Car" init-method="myInit" destroy-method="myDestory">
        <property name="brand" value="红旗CA72"/>
        <property name="maxSpeed" value="250"/>
    </bean>

    <bean id="mailSendListener" class="com.lpc.other.monitor.MailSendListener"/>

    <bean id="mailSender" class="com.lpc.other.monitor.MailSender"/>

    <bean id="dog" class="com.lpc.other.aspect.one.Dog"/>

    <bean id="cat" class="com.lpc.other.aspect.two.Cat"/>

    <bean id="monkey" class="com.lpc.other.aspect.three.Monkey"/>

    <bean id="administrator" class="com.lpc.other.aspect.three.Administrator"/>

    <bean id="simpleAspectOne" class="com.lpc.other.aspect.one.SimpleAspectOne"></bean>
    <bean id="simplePointcut" class="com.lpc.other.aspect.two.SimplePointcut"></bean>
    <bean id="simpleAdvice" class="com.lpc.other.aspect.two.SimpleAdvice"></bean>

</beans>