<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="car" class="com.lpc.other.bean.Car" init-method="myInit" destroy-method="myDestory">
        <property name="brand" value="红旗CA72"/>
        <property name="maxSpeed" value="250"/>
    </bean>

    <!-- 构造函数注入 -->
    <bean id="person" class="com.lpc.other.bean.Person">
        <constructor-arg index="0" type="java.lang.String" value="123456789012345678"/>
        <constructor-arg index="1" type="java.lang.String" value="adou"/>
        <constructor-arg index="2" type="java.lang.Integer" value="25"/>
    </bean>

    <bean id="mailSendListener" class="com.lpc.other.monitor.MailSendListener"/>

    <bean id="mailSender" class="com.lpc.other.monitor.MailSender"/>

    <bean id="dog" class="com.lpc.other.aspect.one.Dog"/>

    <bean id="cat" class="com.lpc.other.aspect.two.Cat"/>

</beans>